[submodule "Saffron/vendors/spdlog"]
	path = Saffron/vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Saffron/Vendors/GLFW"]
	path = Saffron/Vendors/GLFW
	url = https://github.com/glfw/glfw
[submodule "Saffron/Vendors/ImGui"]
	path = Saffron/Vendors/imgui
	url = https://github.com/ocornut/ImGui
